/* Custom Stylesheet */
/**
 * Added by Sylvester Klirowski
 *
 */

/* Images on top of each other */
.multipleImages {
  position: relative;
  top: 0;
  left: 0;
}
.multImage1 {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
}
.multImage2 {
  position: absolute;
  top: 60px;
  left: 170px;
  width: 250px;
}

@media only screen and (max-width: 1250px) {
  .multImage1 {
    width: 200px;
  }
  .multImage2 {
    top: 50px;
    left: 140px;
    width: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .multImage2 {
    position: absolute;
    top: 0px;
    left: 205px;
  }
}

/* LOGO IMAGE */
nav .brand-logo {
  font-size: 1rem;
}
.logo > img {
  vertical-align: middle;
}


/* Header image on no padding, margin, bottom */
.section-pb0 {
  padding-bottom: 0 !important;
}
.section-pt0 {
  padding-top: 0 !important;
}
.row-mb0 {
  margin-bottom: 0 !important; 
}
.img-va-bottom {
  vertical-align: bottom !important;
}
